mixin select(data)
	+include-style('form-mixin')
	+include-script('form-mixin')
	-data = data || {}
	.select(class=data.class id=data.id)&attributes(attributes)
		.select-head.js-select-trigger
			.select-head__title= data.select_head
			if data.icon
				+icon('i-angle-arr_2')(style='width:16px; height:16px;')
			else 
				+icon('i-sort')(style='width:24px; height:24px;')
		.select-body
			.select-body__content
				.select-list
					block

mixin radio-option(data)
	-data = data || {}
	.radio-option(class=data.radio_class)
		label.radio-option__label(for=data.for)
			input(
				class=data.input_class,
				id=data.for,
				name=data.name,
				data-val=data.title,
				data-deliveryCenter=data.center,
				type='radio').radio-option__input.js-radio-input
			.radio-option__caption
				span= data.title
				+icon('i-sort')(style="width: 24px; height: 24px")


//- ПРИМЕР 
	+select({
		class: '',
		id: 'id-123-select',
		select_head: item.descr,
	})
		+radio-option({
			name: '123',
			for: '123-1',
			title: 'Новинки 1',
		})
		+radio-option({
			name: '123',
			for: '123-2',
			title: 'Новинки 2',
		})