h3 Модалки
//-a.btn.btn--primary(href="#modal-prototype" data-toggle='modal') Прототип
a.btn.btn--primary(
	data-ajax='true',
	data-ajax-src=SITE_TEMPLATE_PATH + 'components-template/modal/ajax__modal-backcall.html',
	data-ajax-event='click touch mouseenter',
	data-ajax-target='.ajax-backcall',
	data-ajax-reinit='',

	data-target='.modal-backcall',
	aria-label='показать форму'
	href="javascript:;"
	data-toggle='modal'
) Обратный звонок
a.btn.btn--primary(
	data-ajax='true',
	data-ajax-src=SITE_TEMPLATE_PATH + 'components-template/modal/ajax__modal-city.html',
	data-ajax-event='click touch mouseenter',
	data-ajax-target='.ajax-city',
	data-ajax-reinit='',

	data-target='.modal-city',
	aria-label='показать форму'
	href="javascript:;"
	data-toggle='modal'
) Выберите ваш город


